<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redisClientSection" type="Beetle.Redis.RedisClientSection, Beetle.Redis, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <redisClientSection dB="0" xmlns="urn:Beetle.Redis">
    <writes>
      <add host="192.168.0.210" connections="10"/>
    </writes>
    <reads>
      <add host="192.168.0.210" connections="10"/>
    </reads>
  </redisClientSection>
</configuration>